<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ .Site.Params.description }}">
  <title>{{ .Title }}</title>

  {{ $sass := resources.Get "styles/style.scss" }}
  {{ $icons:= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" }}  
  {{ $style := $sass | resources.ToCSS }}

  <link rel="icon" type="image/png" href="/media/icons/favicon-16x16.png">
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <link rel="stylesheet" href="{{ $icons }}">
  <link rel="stylesheet" href="/vendor/swiper/swiper.min.css">

</head>
{{ partial "header.html" . }}
<body>
  <main class="main">
  {{ block "main" . }}

  {{ end }}
  </main>
</body>
{{ partial "footer.html" . }}
</html>

<script type="module" type="text/javascript" src="/vendor/swiper/swiper.min.js"></script>
<script type="module" type="text/javascript" src="/scripts/main.js"></script>
