$class-name: "projects";

.#{$class-name} {
  @include breakpoint("small") {
    padding: 80px 0;
    text-align: left;
  }
  padding: 20px;
  height: auto;
  text-align: center;
  position: relative;
  animation: fadeIn 2s ease-out;
  animation-play-state: paused;

  &__main {
    position: relative;
    z-index: 20;

    header {
      display: flex;
      justify-content: center;
    }
  }

  &::after {
    top: 0;
    left: 0;
    right: 0;
    z-index: 19;
    height: 100%;
    position: absolute;
    content: "";
    background-image: linear-gradient(to bottom, rgba($color-white, 0.52), rgba($color-black, 0.73)), 
    url(/media/brand/project.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__title {
    @include breakpoint("small") {
      padding-bottom: 10px;
    }
    color: $color-black !important;
    border-bottom: 2px solid $color-black;
  }
}
