$class-name: 'welcome-section';

.#{$class-name} {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;

  &::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background-attachment: fixed;
    background-image: url(/media/brand/development.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  header {
    z-index: 20;
  }

  &__wrapper {
    text-align: center;

    p {
      color: rgba($color-red, 0.5);
    }
  }
}