@keyframes fadeIn {
  0% {opacity: 0;}
  33% {opacity: 0.3;}
  66% {opacity: 0.6;}
  100% {opacity: 1;}
}

@keyframes greenLight {
  0% {opacity: 0.2;}
  50% {opacity: 0.45;}
  70% {opacity: 0.7;}
  100% {opacity: 1.0;}
}