$class-name: 'header';

.#{$class-name} {
   position: fixed;
   top: 0;
   left: 0;
   justify-content: flex-end;
   padding: 10px;
   background-color: rgba($color-red,0.45);
   display: flex;
   width: 100%;
   z-index: 10;

  nav a {
    font-size: 1.1rem; 
    padding-right: 30px;
  }
}