/*Helper classes*/
.side-menu-fw {
  width: 180px !important;
}
.hidden {display: none !important;}

.main-section {
  padding: 150px 40px;
  
  @include breakpoint('small') {
    padding: 0;
    width: 100%;
    height: 100vh;
  }
}