$class-name: "preloader";

.#{$class-name} {
  position: fixed;
  text-align: center;
  visibility: hidden;
  background-color: rgba($color-black, 0.5);
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &__wrapper {
    position: relative;
    top: 50%;
    max-width: 90%;
    transition: width 4s linear;

    &-item {
      animation: greenLight 2.5s ease-in;
      display: inline-block;
      opacity: 0;
      background-color: $color-green;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 1px solid black;

      &--yellow {
        background-color: $color-yellow;
      }
      &--red {
        background-color: $color-red;
      }
    }
  }
  &-lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color-black, 0.8);
    z-index: 2000;

    &__close {
      font-size: x-large;
      padding: 10px;
      position: absolute;
      top: 0;
      right: 0;
    }

    &__content {
      position: relative;
      padding: 40px 20px;
      text-align: center;
      display: block;
      background-color: $color-white;
      box-shadow: 0 2px 6px rgba($color-black, 0.2);
      width: fit-content;
      
      @include breakpoint('small') {
        width: 400px;
      }

      header {
        h1 {
          color: $color-black;
        }
      }
    }

    &-list {
      text-align: left;
      margin: 20px 0 0;
      padding: 0;
      list-style-type: none;

      li {
        margin-bottom: 16px;
        &::before {
          content: '* ';
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
