$class-name: 'scroll-to-top';

.#{$class-name} {
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, black, white);
  position: fixed;
  transition: bottom 3s linear;
  visibility: visible;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: min-content;
  border: 1px solid black;
  color: black;

  & > a {
    display: inline-block;
    width: fit-content;
    text-decoration: none;

    & > img {
      width: 40px;
      height: 40px;
    }
  }
  .scroll-to-top.scroll-to-topv {
    bottom: 0;
  }
}

