.swiper-container {
  width: auto;
  height: auto;
  margin-top: 20px;
    
  @include breakpoint('small') {
    margin-top: 30px;
  }
}
.swiper-slide {
  position: relative;
  height: 300px !important;

  @include breakpoint('small') {
    width: 500px !important;
    height: 400px !important;
  }
  width: 80% !important;

  img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 75%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  a {
    transition: all 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    font-size: 20px;

    &:hover {
      border: 3px dashed $color-black;
    }

    @include breakpoint('small') {
      font-size: 26px;
    }

    p {
      position: absolute;
      color: $color-white;
      bottom: 0;
    }
  }
}