$class-name: "techs";

.#{$class-name} {
  position: fixed;
  z-index: 35;
  top: 50%;
  left: -50px;
  transform: rotate(-90deg);

  & > header > div.hidden > p {
    margin-bottom: 20px;
  }
  & > header {
    color: rgba($color-red, 0.85);
  }
  & > header:hover + .hidden {
    display: block;
    position: absolute;
    color: $color-white;
    transform: none;
  }
}
