h1,h2,h3,h4, p {
  margin: 0;
}

h1 {
  color: $color-white;
  font-size: 34px;

  @include breakpoint('small') {
    font-size: 48px;
  }
}

p {
  font-size: 20px;
  
  @include breakpoint('small') {
    font-size: 32px;
  }
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');