@import "./colors";
@import "./breakpoints";
@import "./helpers";
@import "./animations";
@import "./typography";
@import "./header";
@import "./swiper";
@import "./techs";
@import "./preloader";
@import "./font-awesome";
@import "./scroll-to-top";
@import "./footer";

@import "./modules/welcome-section";
@import "./modules/projects";
@import "./modules/contact";

* {
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  visibility: hidden;
  margin: 0;
  padding: 0;
}

a {
  transition: 0.5s all;
  font-size: 1.4em;
  color: $color-white;
  text-decoration: none;
}

a:hover {color:rgba($color-black, .85); }
