<header id="header" class="header">
    <nav id="header__navbar">
      <a class="header__navbar-item" href="#welcome-section">About</a>
      <a class="header__navbar-item" href="#projects">Work</a>
      <a class="header__navbar-item" href="#contact">Contact</a>
    </nav>
</header>