{{ define "main" }}

<article class="techs">
  <header>Techs I currently work with</header>
  <div class="hidden">
    {{ range $.Site.Data.techs.techs }}
      <p>{{ . | safeHTML }}</p>
    {{ end }}
  </div>
</article>

<div id="preloader" class="preloader">
  <div class="preloader__wrapper">
    <div class="preloader__wrapper-item preloader__wrapper-item--red"></div>
    <div class="preloader__wrapper-item preloader__wrapper-item--yellow"></div>
    <div class="preloader__wrapper-item"></div>
  </div>
</div>

<div class="preloader-lightbox">
  <div class="preloader-lightbox__content">
    <span data-opened="yes" class="preloader-lightbox__close">X</span>
    <header>
      <h1>Some basic info about technology</h1>
    </header>
    <ul class="preloader-lightbox-list">
      <li>This website is done using HUGO static site generator.</li>
      <li>HUGO partials - HTML </li>
      <li>HUGO content .md files - slides</li>
      <li>SCSS preprocessor component files</li>
      <li>Custom vanilla JS for preloader showing, fading the second section... </li>
    </ul>
  </div>
</div>

<section id="welcome-section" class="welcome-section main-section">
  <header>
    <div class="welcome-section__wrapper">
      <h1>Hey I am Muhamed</h1>
      <p>a front-end developer</p>
    </div>
  </header>
</section>

<section id="projects" class="projects main-section">
<div class="projects__main">
  <header>
    <h1 class="projects__title">These are some of my projects</h1>
  </header>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {{ range .Pages }}
      <div class="swiper-slide">
        <a href="{{ .Params.SlideUrl }}">
          <img src="{{ .Params.SlideImg }}" alt="bus-station-project">
          <p>{{ .Params.SlideText | safeHTML }}</p>
        </a>
      </div>
      {{ end }}
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
</section>

<section id="contact" class="contact">
  <header>
    <p class="contact__title">Contact, wanna work ?</p>
  </header>
  <div class="contact-info">
    <a target="_blank" href="https://ba.linkedin.com/in/muhamed-ramic-815191126"><i
        class="fa fa-linkedin"></i></a>
    <a target="_blank" id="profile-link" href="https://github.com/muhamed-ramic"><i class="fa fa-github"></i></a>
    <a target="_blank" href="mailto:muhamed.ramic@edu.fit.ba"><i class="fa fa-envelope"></i></a>
  </div>
</section>
<div id="scroll-to-top" class="scroll-to-top"><a href="#welcome-section"><img src="https://cdn4.iconfinder.com/data/icons/arrows-249/24/small_chevron_arrow_up-512.png" alt="scrol-to-top"></a>
</div>
{{ end }}