/*Helper classes*/
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
.side-menu-fw {
  width: 180px !important; }

.hidden {
  display: none; }

.main-section {
  padding: 150px 40px; }
  @media (min-width: 768px) {
    .main-section {
      padding: 0;
      width: 100%;
      height: 100vh; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  33% {
    opacity: 0.3; }
  66% {
    opacity: 0.6; }
  100% {
    opacity: 1; } }

@keyframes greenLight {
  0% {
    opacity: 0.2; }
  50% {
    opacity: 0.45; }
  70% {
    opacity: 0.7; }
  100% {
    opacity: 1.0; } }

h1, h2, h3, h4, p {
  margin: 0; }

h1 {
  color: #fff;
  font-size: 34px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 48px; } }
p {
  font-size: 20px; }
  @media (min-width: 768px) {
    p {
      font-size: 32px; } }
.header {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-end;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.45);
  display: flex;
  width: 100%;
  z-index: 10; }
  .header nav a {
    font-size: 1.1rem;
    padding-right: 30px; }

.swiper-container {
  width: auto;
  height: auto; }
  @media (min-width: 768px) {
    .swiper-container {
      margin-top: 30px; } }
.swiper-slide {
  width: 80% !important;
  overflow: hidden;
  height: 100%; }
  @media (min-width: 768px) {
    .swiper-slide {
      width: 500px !important; } }
  .swiper-slide img {
    width: 100%;
    height: 200px;
    max-height: 350px; }
    @media (min-width: 768px) {
      .swiper-slide img {
        height: 300px;
        max-height: 450px; } }
  .swiper-slide a {
    display: block;
    font-size: 20px; }
    @media (min-width: 768px) {
      .swiper-slide a {
        font-size: 26px; } }
.techs {
  position: fixed;
  z-index: 35;
  top: 50%;
  left: -50px;
  transform: rotate(-90deg); }
  .techs > header > div.hidden > p {
    margin-bottom: 20px; }
  .techs > header {
    color: rgba(255, 0, 0, 0.85); }
  .techs > header:hover + .hidden {
    display: block;
    position: absolute;
    color: #fff;
    transform: none; }

.preloader {
  position: fixed;
  text-align: center;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; }
  .preloader__wrapper {
    position: relative;
    top: 50%;
    max-width: 90%;
    transition: width 4s linear; }
    .preloader__wrapper-item {
      animation: greenLight 2.5s ease-in;
      display: inline-block;
      opacity: 0;
      background-color: #0f0;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      border: 1px solid black; }
      .preloader__wrapper-item--yellow {
        background-color: #ff0; }
      .preloader__wrapper-item--red {
        background-color: red; }

.fa {
  font-size: 30px !important; }
  @media (min-width: 768px) {
    .fa {
      font-size: 45px !important; } }
.scroll-to-top {
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, black, white);
  position: fixed;
  transition: bottom 3s linear;
  visibility: visible;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: min-content;
  border: 1px solid black;
  color: black; }
  .scroll-to-top > a {
    display: inline-block;
    width: fit-content;
    text-decoration: none; }
    .scroll-to-top > a > img {
      width: 40px;
      height: 40px; }
  .scroll-to-top .scroll-to-top.scroll-to-topv {
    bottom: 0; }

.footer {
  text-align: right; }
  .footer > p {
    font-size: medium; }

.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0; }
  .welcome-section::after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    background-image: url(/media/brand/development.jpeg);
    background-repeat: no-repeat;
    background-size: cover; }
  .welcome-section header {
    z-index: 20; }
  .welcome-section__wrapper {
    text-align: center; }
    .welcome-section__wrapper p {
      color: rgba(255, 0, 0, 0.5); }

.projects {
  padding: 20px;
  height: auto;
  text-align: center;
  position: relative;
  animation: fadeIn 2s ease-out;
  animation-play-state: paused; }
  @media (min-width: 768px) {
    .projects {
      padding: 80px 0;
      text-align: left; } }
  .projects__main {
    z-index: 20; }
  .projects::after {
    top: 0;
    left: 0;
    z-index: 19;
    height: 100%;
    position: absolute;
    content: "";
    background-image: url(/media/brand/project.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .projects__title {
    text-align: center;
    color: #000 !important;
    border-bottom: 2px solid #000; }
    @media (min-width: 768px) {
      .projects__title {
        padding-bottom: 10px; } }
.contact {
  position: relative;
  padding: 15px 0;
  text-align: center;
  color: white;
  font-size: 46px;
  background-color: rgba(0, 0, 0, 0.85); }

* {
  font-family: 'Roboto', sans-serif; }

html {
  scroll-behavior: smooth; }

body {
  visibility: hidden;
  margin: 0;
  padding: 0; }

a {
  transition: 0.5s all;
  font-size: 1.4em;
  color: #fff;
  text-decoration: none; }

a:hover {
  color: rgba(0, 0, 0, 0.85); }
